@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;1,400&display=swap');

.button{
    color: black;
    font-family: "Montserrat";
    border: none;
    background-color: white;
    padding: 9px 20px;
    font-size: 18px;
    outline: none;
    margin-top: 5px;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid white;
    transition: ease .3s ease;
}

.button:hover{
    border: 2px solid #131313;
    transition: ease .3s ease;
}

.input{
    color: white;
    font-family: "Montserrat";
    border: 1.5px solid white;
    margin-bottom: 10px;
    outline: none;
    text-align: center;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 18px;
}
